# 1. 데이터 입력

* Python에서 모든 숫자, 문자열, 자료구조, 함수, 클래스, 모듈 등은 객체(object) 형태로 저장됨.
* 예를 들어 아래와 같이 5라는 숫자를 a라는 저장 공간에 저장한다면, 여기서 a는 변수(혹은 이름)가 됨.

In [1]:
a = 5

In [2]:
print(a)

5

# 2. 데이터 타입

* int(정수) : 1, -10
* float(실수) : 1.4, 10e8
* bool(논리값) : True 또는 False 
* str(문자열) : "hello", "안녕하세요"

## 2.1.1 숫자형 개요

* 숫자형은 일반적으로 정수(int)와 실수(float) 자료형으로 나누고 있음.
* 정수형(integer)은 말 그대로 정수(1, -10)를 뜻하는 자료형을 말하고, 실수형(Floating-point)은 소수점이 포함된 숫자(1.4, 10e8)를 말함.

In [5]:
a = 100  # 정수형
a

100

In [6]:
b = 3.14  # 실수형
b

3.14

## 2.1.2 숫자형 사칙연산

* Python은 다음과 같이 다양한 연산자를 기본적으로 제공하고 있음.

![연산자](https://www.ibric.org/upload/geditor/201505/0.48015200_1431585021.gif)

* 위에 나와 있는 수학 연산자를 사용해서 다양한 사칙연산을 수행할 수 있음.
* 덧셈과 뺄셈 그리고 곱셈은 다음과 같이 직관적으로 값을 출력할 수 있음.

In [15]:
a = 100
b = 40

In [16]:
a + b

140

In [17]:
a- b

60

In [18]:
a * b

4000

* 대부분의 언어와 마찬가지로 Python에서 곱셈은 덧셈보다 높은 우선 순위를 가짐.

In [19]:
a + b - a * b

-3860

* 나눗셈은 부동소수점을 포함하는 경우와 부동소수점을 제외하는 두 가지 방법이 있음.
* /는 부동소수점을 포함한 결과가 출력되고, //는 부동소수점을 제외한 정수만 출력됨.

In [20]:
a / b

2.5

In [21]:
a // b

2

* % 는 첫 번째 숫자를 두 번째 숫자로 나눈 나머지가 계산됨.

In [22]:
a % b

20

## 2.1.3 숫자형 변환

* 다른 데이터 타입을 정수형으로 변환이 필효할 때 int( ) 함수, 실수형으로 변환이 필요할 때 float( ) 함수를 사용할 수 있음.

In [24]:
int(3.14)

3

In [28]:
int(-1.23)

-1

In [27]:
float(3)

3.0

In [29]:
float(-123)

-123.0

* 논리값의 경우에는 True는 1, False는 0으로 반환함.

In [30]:
int(True)

1

In [31]:
int(False)

0

In [33]:
float(True)

1.0

In [34]:
float(False)

0.0

## 2.2.1 문자형 개요

* 많은 사람들이 Python을 사용하는 이유 중에 하나는 강력하고 유연한 문자형 처리 기능 때문임.
* 문자열은 작은 따옴표(‘ ’)와 큰 따옴표(“ ”)를 사용해서 다음과 같이 표현할 수 있으며, 결과는 작은 따옴표로 나타냄.

In [35]:
'Python Programming Basic'

'Python Programming Basic'

In [36]:
"Python Programming Basic"

'Python Programming Basic'

* 여러 줄에 걸친 문자열은 세 개의 작은 따옴표나 큰 따옴표를 사용할 수 있음.

In [43]:
string_type = '''
stay hungry 
stay foolish
'''

In [44]:
print(string_type)

stay hungry
stay foolish

## 2.2.2 이스케이프 문자

* 내용 추가

## 2.2.3 문자형 결합

* Python에서 더하거나 곱하는 방법으로 문자형을 결합할 수 있음.
* 문자형을 결합할 때 공백을 자동으로 붙이지 않으므로, 명시적으로 공백을 넣어야 함.

In [46]:
"stay hungry" + "stay foolish"

'stay hungrystay foolish'

In [48]:
"stay hungry, " + "stay foolish"

'stay hungry, stay foolish'

In [52]:
"stay hungry " * 3

'stay hungry stay hungry stay hungry '

In [53]:
"--" * 10

'--------------------'

* print( ) 함수는 각 인자 사이에 공백을 붙이고 마지막에는 줄바꿈 문자를 붙임.

In [49]:
title1 = "stay hungry"
title2 = "stay foolish"

In [50]:
print(title1, title2)

stay hungry stay foolish

## 2.2.4 문자형 인덱싱(Indexing)

* 문자열에서 특정 위치 문자를 얻기 위해서는 변수에 대괄호와 위치 값을 지정함.
* 가장 왼쪽의 위치 값은 0이고, 그 다음은 1, 2,… 순서로 값을 나타냄.

In [56]:
title = 'stay hungry,stay foolish'

In [58]:
title[0]

's'

In [59]:
title[]

'h'

* 가장 오른쪽의 위치 값은 -1이며, 그 다음은 -2, -3,…순서로 값을 나타냄.

In [61]:
title[-1]

'h'

In [62]:
title[-4]

'l'

* 위치 값을 문자열의 길이 혹은  그 이상(위치 값의 범위는 0부터 문자열 길이 -1까지)으로 지정하는 경우에는 다음과 같이 오류가 출력될 수 있음.

In [63]:
title[100]

IndexError: string index out of range

* 다른 언어와 달리 Python의 문자형은 불변하는(immutable) 자료형이므로, 특정 위치에 값을 추가하거나 변경할 수 없음.
* 예를 들어, 'bigdata'를 'Bigdata'로 변경하고자 한다면:

In [64]:
name = 'bigdata'
name[0] = "B"

TypeError: 'str' object does not support item assignment

* 대신 replace( ) 함수와 문자형 슬라이스(slice)와 같은 방법으로 값을 변경할 수 있음.

In [65]:
name.replace("b", "B")

'Bigdata'

In [66]:
"B" + name[1:]

'Bigdata'

## 2.2.5 문자형 슬라이싱(Slicing)

* 문자형 슬라이스(slice)를 사용하여 문자형의 일부(substring)를 선택하여 출력할 수 있음.
* 대괄호를 사용하여 시작(start), 마지막(end) 위치 값 그리고 옵션으로 스텝(step)을 명시하여 슬라이스를 정의함.

* 그림 추가