In [1]:
import pandas as pd
import numpy as np 
from sklearn.decomposition import TruncatedSVD

In [3]:
df_rating = pd.read_csv("dataset/ratings.csv")
df_rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [10]:
df_movie = pd.read_csv("dataset/movies.csv")
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
print(df_rating.shape)
print(df_movie.shape)

(1048575, 4)
(27278, 3)

In [7]:
df_rating.drop("timestamp", axis = 1, inplace = True)
df_rating.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [11]:
df_movie.drop("genres", axis = 1, inplace = True)
df_movie.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [12]:
df = pd.merge(df_rating, df_movie, on = "movieId")
df.head()

   userId  movieId  rating           title
0       1        2     3.5  Jumanji (1995)
1       5        2     3.0  Jumanji (1995)
2      13        2     3.0  Jumanji (1995)
3      29        2     3.0  Jumanji (1995)
4      34        2     3.0  Jumanji (1995)

In [13]:
print(df.shape)

(1048575, 4)

In [15]:
df_mat = df.pivot_table(index = "userId", columns = "title", values = "rating").fillna(0)
df_mat.head()

title,"""Great Performances"" Cats (1998)",$5 a Day (2008),'71 (2014),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'R Xmas (2001),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nos amours (1983),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
print(df_mat.shape)

(7120, 14021)

In [18]:
df_mat_T = df_mat.values.T
df_mat_T

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [19]:
print(df_mat_T.shape)

(14021, 7120)

In [20]:
SVD = TruncatedSVD(n_components = 12)
matrix = SVD.fit_transform(df_mat_T)
matrix.shape

(14021, 12)

In [22]:
matrix[0]

array([ 0.04351815, -0.04828773,  0.00955912, -0.02305047, -0.01897809,
        0.10232128, -0.06617165,  0.01957172,  0.00252658, -0.02683985,
        0.0445578 ,  0.09046669])

In [23]:
corr = np.corrcoef(matrix)
corr.shape

(14021, 14021)

In [35]:
movie_title = df_mat.columns
movie_title_list = list(movie_title)
coffey_hands = movie_title_list.index('"Great Performances" Cats (1998)')

In [37]:
corr_coffey_hands = corr[coffey_hands]
list(movie_title[(corr_coffey_hands >= 0.9)])

['"Great Performances" Cats (1998)',
 'As You Like It (2006)',
 'Dark Horse (Voksne mennesker) (2005)',
 'Elizabeth I (2005)',
 'Helen (2009)',
 "Kira's Reason: A Love Story (En Kærlighedshistorie) (2001)",
 "Lion King II: Simba's Pride, The (1998)",
 'Little Mermaid 2: Return to the Sea, The (2000)',
 'Loners (Samotári) (2000)',
 'Northwest (2013)',
 "Nothing's All Bad (2010)",
 'Pearl Jam Twenty (2011)']